<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-md-6">
        <div class="header">
          <h2 class="header_title">دادیاری</h2>
          <div class="header_divider"></div>
        </div>
        <div class="row" style="margin-top: -10px;">
          <div class="col-lg-6 col-sm-12 col-md-6">
            <div class="count-box">
              <img src="../../../../assets/images/team.jpg" alt="">
              <span>حسین همت پور فرضی</span>
              <p>دادیار شعبه یک</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-md-6">
            <div class="count-box">
              <img src="../../../../assets/images/team.jpg" alt="">
              <span>کامبیز کامران</span>
              <p>دادیار شعبه دو</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 col-md-6">
        <div class="header">
          <h2 class="header_title">دادگاه بدوی</h2>
          <div class="header_divider"></div>
        </div>
        <div class="container">
          <div class="count-box">
            <img src="../../../../assets/images/team.jpg" alt="">
            <span>حسین رضا دلفان</span>
            <p>قاضی دادگاه بدوی</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<!-- <div class="row">
  <div class="col-lg-6 col-sm-12 col-md-6">
    <div class="testimonial-item">
      <h6>شعبه اول</h6>
      <p>
        شعبه اول</p>
      <img src="../../../../assets/images/team.jpg" class="testimonial-img" alt="">
      <h3>حسین همت پور فرضی</h3>
      <h4>دادیار شعبه</h4>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12 col-md-6">
    <div class="testimonial-item">
      <h6>شعبه دوم</h6>
      <p>
        شعبه دوم </p>
      <img src="../../../../assets/images/team.jpg" class="testimonial-img" alt="">
      <h3>کامبیز کامران</h3>
      <h4>دادیار شعبه</h4>
    </div>
  </div>
</div> -->