<section class="about">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-lg-7">
        <owl-carousel-o [options]="customOptions" dir="ltr">
          <ng-template carouselSlide *ngFor="let item of sliders">
            <a [href]="item.link">
              <img [src]="item.imageurl" class="img-fluid mt-1">
            </a>
          </ng-template>
        </owl-carousel-o>
      </div> -->
      <div class="col pt-4 pt-lg-0 content" data-aos="fade-left">
        <div class="content">
          <h2>مرکز وکلا و مشاوران قوه قضاییه استان لرستان</h2>
          <p>
            «مركز وكلا، كارشناسان رسمی و مشاوران خانواده»، پیرو حکم مقرر در ماده 187 و به موجب آیین نامه اجرایی آن
            ابلاغی 1381/06/13 رئیس قوه قضائیه، در سال 1381 تأسیس شد. آیین­نامه اجرایی ماده 187 نحوه تشکیل و ارکان مرکز،
            فرایند صدور پروانه، برگزاری آزمون، نظارت بر فعالیت اعضا و سایر امور مرکز را در چارچوب قوانین و مقررات حاکم
            بر حوزه­های وکالت و کارشناسی مشخص نمود. این مركز كه در حوزه ارائه خدمات وکالتی، کارشناسی رسمی و مشاوره حقوقی
            فعالیت می‌كرد </p>
          <div class="text-center text-lg-start">
            <a href="#" [routerLink]="['/about']"
              class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
              <span>بیشتر بدانید</span>
              <i class="fas fa-arrow-left mr-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>