<section id="services" class="services pt-5 pb-5">

  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <i class="pi pi-users icon"></i>
          <h3>اعضا هیات مدیره</h3>
          <p> این مركز كه در حوزه ارائه خدمات وکالتی، کارشناسی رسمی و مشاوره حقوقی فعالیت می‌كرد، به موجب قانون حمایت خانواده مصوب 1392 و آیین‌نامه آن صلاحیت گسترده‌تری در حوزه مشاوره خانواده پیدا كرد.</p>
          <a href="#" [routerLink]="['/team']" class="read-more"><span>مشاهده</span> <i class="fas fa-arrow-left icon-arrow"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <i class="pi pi-id-card icon"></i>
          <h3>اعضا کمیسیون ها</h3>
          <p> کاربر گرامی مرکز وکلا قوه قضاییه استان لرستان متداول ترین سوالات را در این بخش پاسخ داده است در صورت نیافتن جواب سوال خود در بخش ارتباط با ما سوال خود را مطرح کنید

          </p>
          <a href="#" [routerLink]="['/commission']" class="read-more"><span>مشاهده</span> <i class="fas fa-arrow-left icon-arrow"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <i class="pi pi-info-circle icon"></i>
          <h3>درباره مرکز</h3>
          <p>«مركز وكلا، كارشناسان رسمی و مشاوران خانواده»، پیرو حکم مقرر در ماده 187 و به موجب آیین نامه اجرایی آن ابلاغی 1381/06/13 رئیس قوه قضائیه، در سال 1381 تأسیس شد. </p>
          <a href="#" [routerLink]="['/about']" class="read-more"><span>مشاهده</span> <i class="fas fa-arrow-left icon-arrow"></i></a>
        </div>
      </div>

  

  
    </div>

  </div>

</section>
