.breadcrumbs {
  padding: 15px 0;
  background: #fff !important;
  min-height: 40px;
  color: #4d4d4d;
  margin-top: 15px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
  .blog .entry .entry-title a {
    font-size: 16px;
  }

}

.breadcrumbs h2 {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #4d4d4d;
  transition: 0.3s;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
  padding-right: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-left: 10px !important;
  padding-right: 0px !important;
  color: #4d4d4d;
  content: "/";
}
.breadcrumb-item+.breadcrumb-item::before {
  float: right !important;
  padding-right: .5rem;
  color: #6c757d;
  content: "/";
}
.breadcrumb-item.active {
  color: #4d4d4d;
  opacity: .8;
}



.blog {
  padding: 40px 0 20px 0;
  text-align: justify;
}
.blog .card {
  padding: 20px;
  margin-bottom: 60px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: 0;
  text-align: ceneter;
}

.blog .card-img{
  transition: 0.5s;
  border-radius: 5px;
}
.blog .card-img:hover {
  transform: scale(1.02);
}
.blog .card-body {
  -moz-text-align-last: right;
  text-align-last: right;
}

.blog .card-title a {
  font-weight: 500;
  font-size: 16px;
  color: #1473e6;
  transition: ease-in-out 0.3s;
}

.blog .card-title a:hover {
  color: #1473e6;
}
.blog .card .card-body .entry-meta {
  margin-bottom: 15px;
  color: #9a8487;
  margin-top: 15px;
}

.blog .card .card-body .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog .card .card-body .entry-meta ul li + li {
  padding-right: 10px;
}

.blog .card .card-body .entry-meta i {
  font-size: 14px;
  margin-left: 5px;
  line-height: 0;
}

.blog .card .card-body .entry-meta a {
  color: #9a8487;
  font-size: 12px;
  display: inline-block;
  line-height: 1;
  font-family: 'IRANSans_Light' !important;
}
.blog .card-body .card-text{
  font-family: 'IRANSans_Light' !important;
  text-align: justify;
}
.blog .btn {
  border-radius: 5px;
  padding: 6px 30px;
  margin: 0 30px;
  border: 1px solid #1473e6;
  color: #1473e6;
}

.blog .btn:hover {
  color: #fff;
  background: #1473e6;
}




.blog .sidebar {
  padding: 50px;
  margin: 0 20px 60px 0 ;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #242e31;
  position: relative;
}

.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}


.blog .sidebar .search-form  button {
  position: absolute;
  top: 0;
  //right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 10px;
  margin: -1px;
  background: #1473e6;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px 0 0 4px;
  line-height: 0;
}

.blog .sidebar .search-form .form button i {
  line-height: 0;
}

.blog .sidebar .search-form .form button:hover {
  background: #1473e6;
}


.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  float: right;
  transition: 0.5s;
  border-radius: 5px;

}

.blog .sidebar .recent-posts img:hover {
  transform: scale(1.05);
}
.blog .sidebar .recent-posts h4 {
  font-size: 14px;
  margin-right: 95px;
  font-weight: bold;
}
.blog .sidebar .recent-posts h4 a {
  color: #08404f;
  transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #1473e6;
}

.blog .sidebar .recent-posts time {
  display: block;
  margin-right: 95px;
  margin-top: -10px;
  font-style: italic;
  font-size: 12px;
  color: #aaaaaa;
}

.blog .sidebar .tags {
  margin-bottom: -10px;
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: inline-block;
}

.blog .sidebar .tags ul a {
  color: #1473e6;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 0.5px solid #1473e6;
  display: inline-block;
  transition: 0.3s;
  border-radius: 5px;

}

.blog .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #1473e6;
  background: #1473e6;
  border-radius: 5px;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: #1473e6;
  font-size: 14px;
}






