<app-header dir="rtl"></app-header>
<div class="container commissions">
    <div class="section-title mb-2">
        <h2>اعضا کمیسیون ها</h2>
    </div>
    <div class="row">
        <div class="col-lg-6 mt-3" *ngFor="let i of AllCommission">
            <div class="commission">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="img">
                            <img [src]="i['image']" [alt]="i['imageDescription']" alt="" class="img img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-10 mt-2">
                        <div class="content">
                            <h2 class="title">{{i['title']}}</h2>
                            <p>{{i['details']}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer dir="rtl"></app-footer>