<section id="services" class="services">
  <div class="container">

    <div class="header"><h2 class="header_title">دسترسی سریع</h2>
      <div class="header_divider"></div>
    </div>

    <div class="row icon-boxes">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><img src="../../../../assets/images/search.png" class="img-fluid" alt=""></div>
          <h4 class="title"><a href="https://www.23055.ir/search-lawyer">جستجوی وکلا</a></h4>
          <p class="description">جهت استعلام صحت مشخصات و وضعیت فعالیت وکلای مرکز وکلای قوه قضائیه وارد شوید</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><img src="../../../../assets/images/complaint.png" class="img-fluid" alt=""></div>
          <h4 class="title"><a href="https://www.23055.ir/people/100">شکایت از وکیل</a></h4>
          <p class="description">جهت بررسی شرایط و ضوابط شکایت از وکیل و ثبت شکایت از وکیل</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><img src="../../../../assets/images/handshake.png" class="img-fluid" alt=""></div>
          <h4 class="title"><a href="#" [routerLink]="['/moazedat']">معاضدت</a></h4>
          <p class="description">شرایط و ضوابط بهره‌مندی از خدمات معاضدتی (وکیل، کارشناس رسمی و مشاور خانواده) و ثبت
            درخواست استفاده از خدمات معاضدتی مرکز</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
        <div class="icon-box">
          <div class="icon"><img src="../../../../assets/images/card.png" class="img-fluid" alt=""></div>
          <h4 class="title"><a href="">صدور کارت</a></h4>
          <p class="description">اعلام زمانبندی صدور کارت شرکت در آزمون‌های مرکز، دریافت کارت ورود به جلسه آزمون‌ها</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features" class="features">
  <div class="container">

    <div class="header"><h2 class="header_title">کمیسیون ها</h2>
      <div class="header_divider"></div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 ">
        <div class="icon-box">
          <i class="pi pi-chevron-left"></i>
          <h3><a href="https://www.23055.ir/committee/development"> توسعه خدمات حقوقی</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="pi pi-chevron-left"></i>
          <h3><a href="https://www.23055.ir/committee/public"> حقوق عامه</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="pi pi-chevron-left"></i>
          <h3><a href="https://www.23055.ir/committee/human-rights"> حقوق بشر</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="pi pi-chevron-left"></i>
          <h3><a href="https://www.23055.ir/committee/lawyers-transfer"> نقل و انتقال وکلا</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="pi pi-chevron-left"></i>
          <h3><a href="https://www.23055.ir/committee/help"> وکالت معاضدتی و تسخیری</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="pi pi-chevron-left"></i>
          <h3><a href="https://www.23055.ir/committee/international"> امور بین الملل</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="pi pi-chevron-left"></i>
          <h3><a href="https://www.23055.ir/committee/women"> امور و حقوق بانوان</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
          <i class="pi pi-chevron-left"></i>
          <h3><a href="https://www.23055.ir/committee/internship"> کارآموزی و کارورزی</a></h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
          <i class="pi pi-chevron-left"></i>
          <h3><a href="https://www.23055.ir/committee/internship"> نقل و انتقال کارشناس </a></h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
          <i class="pi pi-chevron-left"></i>
          <h3><a href="https://www.23055.ir/committee/internship">حل اختلاف</a></h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
          <i class="pi pi-chevron-left"></i>
          <h3><a href="https://www.23055.ir/committee/internship">کمیسیون داوری</a></h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
          <i class="pi pi-chevron-left"></i>
          <h3><a href="https://www.23055.ir/committee/internship">کمیسیون فرهنگی</a></h3>
        </div>
      </div> 
    </div>

  </div>
</section>