<app-header dir="rtl"></app-header>
<section class="breadcrumbs">
  <div class="container-fluid">
    <ol>
      <li><a routerLink="/">صفحه اصلی</a></li>
      <li>درباره مرکز</li>
    </ol>
  </div>
</section>
<section id="about" class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h3>مرکز وکلا و مشاوران قوه قضاییه استان لرستان</h3>
        <p>
          مرکز وکلا قوه قضاییه از یک سو نهادی با ماموریت‌های حاکمیتی محسوب می‌شود و علاوه بر متقاضیان خدمات حقوقی، نسبت به عموم مردم و ساختار حکمرانی کشور نیز دارای مسئولیت است. از سوی دیگر به عنوان توسعه دهنده خدمات حقوقی، متولی نظام‌های کارشناسی رسمی، وکالت و مشاوران خانواده بوده و دارای ماموریت‌های تخصصی و حرفه‌ای می‌باشد. بنابراین، اهداف راهبردی مرکز در سه حوزه کلان «جامعه»، «حاکمیت» و «نظام خدمات حقوقی» قابل تعریف می‌باشد که در شکل 1 ارائه شده‌است. در راستای عمل به تکالیف قانونی و تحقق ماموریت‌های محوله و با توجه به سه حوزه کلان مزبور، اهداف راهبردی مرکز مطابق جدول شماره 1 در نه سطح تعریف شده‌ که مبنای طراحی برنامه‌های عملیاتی مرکز در بازه‌های کوتاه‌مدت و میان مدت می‌باشد.        <div class="icon-box">
          <div class="icon"><i class="fa fa-history"></i></div>
          <h4 class="title"><a href="">سابقه ما</a></h4>
          <p class="description">مرکز وکلا و مشاوران قوه قضاییه استان لرستان
          </p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="fa fa-headset"></i></div>
          <h4 class="title"><a href="">پشتیبانی ما</a></h4>
          <p class="description">مرکز وکلا و مشاوران قوه قضاییه استان لرستان
          </p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="fas fa-check"></i></div>
          <!-- <div class="icon"><i class="fas fa-award"></i></div> -->
          <h4 class="title"><a href="">خدمات ما</a></h4>
          <p class="description">مرکز وکلا و مشاوران قوه قضاییه استان لرستان
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6 d-block m-auto">
        <img class="img-fluid" src="../../../assets/images/about.png"/>
      </div>
    </div>
  </div>
</section>
<app-footer dir="rtl"></app-footer>