.breadcrumbs {
  padding: 15px 0;
  background: #fff !important;
  min-height: 40px;
  color: #4d4d4d;
  margin-top: 15px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
  .blog .entry .entry-title a {
    font-size: 16px;
  }

}

.breadcrumbs h2 {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #4d4d4d;
  transition: 0.3s;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
  padding-right: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-left: 10px !important;
  padding-right: 0px !important;
  color: #4d4d4d;
  content: "/";
}
.breadcrumb-item+.breadcrumb-item::before {
  float: right !important;
  padding-right: .5rem;
  color: #6c757d;
  content: "/";
}
.breadcrumb-item.active {
  color: #4d4d4d;
  opacity: .8;
}
// .team {
//   background: #fff;
//   text-align: center;
//   padding: 40px;
// }

// .team .member {
//   text-align: center;
//   margin-bottom: 80px;
//   position: relative;
// }

// .team .member .pic {
//   border-radius: 4px;
//   overflow: hidden;
// }

// .team .member img {
//   transition: all ease-in-out 0.4s;
// }

// .team .member:hover img {
//   transform: scale(1.1);
// }

// .team .member .member-info {
//   position: absolute;
//   bottom: -80px;
//   left: 0px;
//   right: 0px;
//   background: rgba(255, 255, 255, 0.92);
//   padding: 15px 0;
//   border-radius: 0 0 4px 4px;
//   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
// }

// .team .member h4 {
//   font-weight: 700;
//   margin-bottom: 10px;
//   font-size: 16px;
//   color: #1473e6;
//   position: relative;
//   padding-bottom: 10px;
// }

// .team .member h4::after {
//   content: '';
//   position: absolute;
//   display: block;
//   width: 50px;
//   height: 1px;
//   background: #1473e6;
//   bottom: 0;
//   left: calc(50% - 25px);
// }

// .team .member span {
//   font-style: italic;
//   display: block;
//   font-size: 13px;
//   color: #222;
// }

// .team .member .social {
//   margin-top: 10px;
// }

// .team .member .social a {
//   transition: color 0.3s;
//   color: #1473e6;
// }

// .team .member .social a:hover {
//   color: #1473e6;
// }

// .team .member .social i {
//   font-size: 16px;
//   margin: 0 7px;
// }



// :host ::ng-deep .p-organizationchart {
//   .p-person {
//       padding: 0;
//       border: 0 none;
//   }

//   .node-header, .node-content {
//       padding: .5em .7rem;
//   }

//   .node-header {
//       background-color: #495ebb;
//       color: #ffffff;
//   }

//   .node-content {
//       text-align: center;
//       border: 1px solid #495ebb;
//   }

//   .node-content img {
//       border-radius: 50%;
//   }

//   .department-cfo {
//       background-color: #7247bc;
//       color: #ffffff;
//   }

//   .department-coo {
//       background-color: #a534b6;
//       color: #ffffff;
//   }

//   .department-cto {
//       background-color: #e9286f;
//       color: #ffffff;
//   }
// }

.members{
  padding: 20px 0 40px;
}
.members .member-box {
  padding: 15px;
  position: relative;
  overflow: hidden;
  margin: 0;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  text-align: center;
  border-bottom: 3px solid #1473e6;

}
.members .member-box:hover {
  transform: translateY(-5px);
}
.members .member-img img {
 border-radius: 5px;
  margin-bottom: 15px;
}
.members .member-name {
  font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    position: relative;
    padding-bottom: 10px;
}

.members .member-box .member-name::after {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 1px;
  background: #1473e6;
  bottom: 0;
  left: calc(50% - 25px);
}
.members .member-role {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0;
}
.members .member-box .social {
  margin-top: 20px;
}

.members .member-box .social a {
  transition: color 0.3s;
  color: #1473e6;
}

.members .member-box .social a:hover {
  color: #1473e6;
}

.members .member-box .social i {
  font-size: 16px;
  margin: 0 7px;
}
.members .member-box-blue:hover {
  border-width:4px;
}
